
body {
  font-family: sans-serif;
}

.highlighted {
  background-color: yellow;
}

app-root,
app-video-dashboard,
app-video-list,
app-video-player,
app-stat-filters,
app-video-thumbnail
{
  display: block;
  border: 3px solid darkgreen;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
